* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(116, 116, 197);
    
    }
.container {
    position: relative;
    width: 700px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .2);
    /* overflow: hidden; */
}
.form-box {
    position:absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px;
    z-index: 1;
}
.form-box.Register{
    visibility: hidden;
}
form {
    
    width: 100%;
}
.container h1{
    font-size: 40px;
    margin: auto;
}
.inputbox{
    position: relative;
    margin: 30px 0;
}
.inputbox input{
    width: 100%;
    padding: 15px 50px 15px 25px;
    background-color: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #333;
    font-weight: 400;
}
.inputbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}
.forgot-link{
    margin: -13px 0 13px;

}
.forgot-link a {
    color: #333;

}
.btn{
    width: 100%;
    height: 50px;
    background-color: rgb(116, 116, 197);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}
.container p {
    font-size: 15px;
    margin: 15px 0;
}
.google-icon a{
    display: inline-flex;
    padding: 9px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}
.tooglebox{
    position: absolute;
    width: 100%;
    height: 100%;
}
.tooglebox::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: rgb(116, 116, 197);
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}
.container.active .tooglebox::before{
    left: 50%;
}
.toogle-panel{
    justify-content: center;
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    /* background-color: seagreen; */
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.toogle-panel.toogle-right{
    right: -50%;
}
.toogle-panel p{
    margin-bottom: 20px;
    margin-left: 30px;
}
.toogle-panel .btn{
    width: 130px;
    height: 46px;
    background: transparent;
    border: 2px solid #f5f3f3;
    box-shadow: none;
    
}
/* .active{
    
} */